---
import SectionContainer from './SectionContainer.astro';
---

<SectionContainer class="pb-23" id="about">
  <h2 class="font-semibold text-2xl mb-7 flex gap-x-3 items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user size-8"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
    Sobre Mí
  </h2>
  <div class="prose text-gray-400 max-w-2xl">
    <p>
      ¡Hola! Soy Lucas, un desarrollador frontend en formación, a punto de completar mis prácticas del módulo superior DAW. Mi principal interés está en el desarrollo de interfaces de usuario atractivas y funcionales.
    </p>
    <p class="text-pretty">
      Estos años de aprendizaje he adquirido conocimientos en maquetación con HTML, CSS, JavaScript, Sass y Tailwind y he descubierto frameworks modernos como Angular y Astro. Me motiva la idea de crear experiencias web dinámicas y optimizadas.
    </p>
    <p>
      Además de mi enfoque técnico, soy una persona centrada, con muchas ganas de aprender y colaborar con proyectos profesionales. Creo firmemente en la gran importancia del trabajo en equipo en el ambito del desarrollo y la comunicación efectiva para lograr resultados exitosos.
    </p>
    <p>
      En mi tiempo libre, me gusta mucho explorar nuevas tecnologías web, trabajar en proyectos personales que me permiten aplicar y expandir mis conocimientos.
    </p>
    <p class="text-pretty">
      Estoy buscando activamente oportunidades para aplicar mis habilidades y seguir creciendo como desarrollador frontend. ¡No dudes en contactarme si tienes alguna propuesta!
    </p>
  </div>
</SectionContainer>