---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Marzo 2025 - Actualmente',
        title: 'Practicas DAW, maquetación en Ávoris',
        description: 'Durante mis prácticas en Ávoris, he estado activamente involucrado en tareas de maquetación frontend, utilizando HTML, CSS y JavaScript para construir y dar estilo a interfaces web. He tenido la oportunidad de aprender y trabajar con el generador de sitios estáticos 11ty, lo que me ha permitido comprender la creación de sitios web eficientes y optimizados. También he mejorado significativamente mis habilidades en el control de versiones con Git, así como en el manejo de plataformas de colaboración como Bitbucket y en la preprocesamiento de estilos con Sass.',

    },
    {
        date: 'Marzo 2023 - Junio 2023',
        title: 'Practicas Grado Medio en Sermicro',
        description: 'Durante mi formación en el Grado Medio, adquirí conocimientos y experiencia práctica en el ámbito del hardware informático. Mis tareas se centraron en la reparación y puesta a punto de equipos PC, incluyendo la instalación de componentes, y la realización de procesos de reseteo y reinstalación de sistemas operativos. Esta etapa me proporcionó una base sólida en el funcionamiento interno de los ordenadores y en las técnicas de mantenimiento esenciales.',
    }
]
---
<ol class="relative border-s border-white dark:border-white">
    {
        EXPERIENCE.map(experience => (
            <li class="ps-6"> <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>